body, html {
    height: 100%;
    background-image: radial-gradient(circle, white, rgb(242, 242, 116), rgb(251, 251, 82));
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#image-container {
    position: relative;
    top: 50.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #cac6c6;
    border-bottom: 6px solid #cac6c6;
}

.RestaurantLogo {
    position: absolute; /* Add position absolute */
    top: 50%; /* Move to 50% from top */
    left: 50%; /* Move to 50% from left */
    transform: translate(-50%, -50%); /* Center the logo */
    z-index: 9999;
    width: 40%;
}

#rotating-image {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    transition: opacity 0.5s ease-in-out;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient( rgb(155, 28, 28), rgb(193, 37, 37), rgb(155, 28, 28));
    border-bottom: 3px solid #891f1f;
    height: 60px;
    z-index: 3;
    overflow: visible;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Distribute items along the main axis */
}

nav img {
    margin-top: 40%;
    width: 200px;
    margin-left: 10%;
}

.search-bar {
    margin-right: auto; 
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.search-bar input {
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

.search-bar button {
    border: none;
    background-color: #eee869;
    color: #cc5907;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2%;
}

.search-bar button:hover {
    background-color: #eeba4c;
}

nav ul {
    margin-left: auto; 
    margin-right: 3%;
    white-space: nowrap; 
    overflow: hidden; 
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    overflow: hidden;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    top: 20px;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li.current-page a:before {
    transform: scaleX(1);
    transform-origin: left;
}

/*============================================================*/

#generatedPayslips {
    overflow: none;
    width: calc(100% - 480px); /* Adjust width as needed */
    margin-left: 240px;
    height: calc(100% - 100px);
    padding-top: 60px;
}

#generatedPayslips_DisplayContainer {
    overflow: auto;
    margin: 0 80px;
    height: calc(100% - 0px);
    max-height: 100%;
    padding: 20px; 
    background: #f7f7f7;
    border-left: 3px solid rgb(80, 80, 80);
    border-right: 3px solid rgb(80, 80, 80);
}

/*============================================================*/

.payslip-header, .payslip-section {
    margin-bottom: 20px;
}
.payslip-header div, .payslip-section div {
    margin-bottom: 10px;
}
.section-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    text-align: center;
}
.no-sticky-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.no-sticky-header, .no-sticky-header th, .no-sticky-header td {
    border: 1.5px solid #9b530a;
}
.no-sticky-header th, .no-sticky-header td {
    padding: 8px;
    text-align: left;
}
.no-sticky-header th {
    text-align: center;
    background-color: #dc7a18;
}
.no-sticky-header td {
    text-align: center;
    background-color: #dfa14a;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}

/*============================================================*/

#bold-label {
    font-weight: bolder;
}

/*============================================================*/